In [1]:
import pandas as pd
from pathlib import Path

In [2]:
df = pd.read_csv('activities.csv', sep=';', index_col=0)

In [3]:
new_df = pd.DataFrame()

In [4]:
new_df['Activity'] = df['Activity']
new_df['Subject'] = df['Subject']

In [5]:
new_df['ACC x'] = df['T(A, x)'] + df['RA(A, x)'] + df['LA(A, x)'] + df['RL(A, x)'] + df['LL(A, x)']
new_df['ACC y'] = df['T(A, y)'] + df['RA(A, y)'] + df['LA(A, y)'] + df['RL(A, y)'] + df['LL(A, y)']
new_df['ACC z'] = df['T(A, z)'] + df['RA(A, z)'] + df['LA(A, z)'] + df['RL(A, z)'] + df['LL(A, z)']

In [6]:
new_df['GYR x'] = df['T(G, x)'] + df['RA(G, x)'] + df['LA(G, x)'] + df['RL(G, x)'] + df['LL(G, x)']
new_df['GYR y'] = df['T(G, y)'] + df['RA(G, y)'] + df['LA(G, y)'] + df['RL(G, y)'] + df['LL(G, y)']
new_df['GYR z'] = df['T(G, z)'] + df['RA(G, z)'] + df['LA(G, z)'] + df['RL(G, z)'] + df['LL(G, z)']

In [7]:
new_df['MAG x'] = df['T(M, x)'] + df['RA(M, x)'] + df['LA(M, x)'] + df['RL(M, x)'] + df['LL(M, x)']
new_df['MAG y'] = df['T(M, y)'] + df['RA(M, y)'] + df['LA(M, y)'] + df['RL(M, y)'] + df['LL(M, y)']
new_df['MAG z'] = df['T(M, z)'] + df['RA(M, z)'] + df['LA(M, z)'] + df['RL(M, z)'] + df['LL(M, z)']

In [8]:
indexes = new_df.loc[new_df['ACC x'] > 50].index
new_df.drop(indexes, inplace=True)
indexes = new_df.loc[new_df['ACC x'] < -50].index
new_df.drop(indexes, inplace=True)

indexes = new_df.loc[new_df['ACC y'] > 50].index
new_df.drop(indexes, inplace=True)
indexes = new_df.loc[new_df['ACC y'] < -50].index
new_df.drop(indexes, inplace=True)

indexes = new_df.loc[new_df['ACC z'] > 50].index
new_df.drop(indexes, inplace=True)

indexes = new_df.loc[new_df['ACC z'] < -50].index
new_df.drop(indexes, inplace=True)

In [9]:
indexes = new_df.loc[new_df['GYR x'] > 10].index
new_df.drop(indexes, inplace=True)
indexes = new_df.loc[new_df['GYR x'] < -10].index
new_df.drop(indexes, inplace=True)

indexes = new_df.loc[new_df['GYR y'] > 10].index
new_df.drop(indexes, inplace=True)
indexes = new_df.loc[new_df['GYR y'] < -10].index
new_df.drop(indexes, inplace=True)

indexes = new_df.loc[new_df['GYR z'] > 10].index
new_df.drop(indexes, inplace=True)
indexes = new_df.loc[new_df['GYR z'] < -10].index
new_df.drop(indexes, inplace=True)

In [10]:
new_df

,Activity,Subject,ACC x,ACC y,ACC z,GYR x,GYR y,GYR z,MAG x,MAG y,MAG z
0,1,1,5.92767,-1.65370,18.95477,-0.006238,-0.015878,-0.038254,-0.53764,-0.240494,-0.075594
1,1,1,5.92959,-1.74260,18.89768,-0.011134,0.002558,-0.015154,-0.53752,-0.233245,-0.071104
2,1,1,5.92739,-1.71680,18.90550,0.014435,0.011941,-0.016073,-0.53973,-0.237137,-0.075123
3,1,1,5.98639,-1.70500,18.84810,0.018648,0.041053,0.000366,-0.56724,-0.246849,-0.105868
4,1,1,5.97912,-1.69180,18.85393,-0.017254,0.019668,-0.001110,-0.53635,-0.238626,-0.070397
...,...,...,...,...,...,...,...,...,...,...,...
1139994,19,8,-7.48100,-1.32740,0.10600,5.342700,-2.735840,-0.338210,0.68606,-0.359100,-0.080237
1139995,19,8,-15.16100,11.03850,-20.12750,5.554180,1.227394,0.622390,0.53623,-0.023682,-0.006403
1139996,19,8,-21.30240,32.25714,10.33298,6.908930,0.749020,-0.843757,0.37812,0.366600,0.084995
1139998,19,8,-2.37223,39.58631,-5.41944,3.860440,3.559620,-2.401520,0.15107,0.572670,-0.154697
1139999,19,8,-4.92589,34.61402,16.70087,1.148010,1.892284,-5.494600,0.11290,0.407180,-0.081932

In [12]:
new_df.describe()

,Activity,Subject,ACC x,ACC y,ACC z,GYR x,GYR y,GYR z,MAG x,MAG y,MAG z
count,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06,1.130028e+06
mean,9.945545e+00,4.497381e+00,1.606281e+00,-2.841606e-01,7.685759e+00,4.019571e-03,4.020330e-02,-1.248109e-02,-2.062514e-01,8.541134e-02,-7.437241e-01
std,5.461826e+00,2.289162e+00,1.068828e+01,8.093096e+00,8.370899e+00,1.970359e+00,1.329502e+00,2.042505e+00,8.555909e-01,7.972194e-01,9.143628e-01
min,1.000000e+00,1.000000e+00,-4.998880e+01,-4.999650e+01,-4.997340e+01,-9.999880e+00,-9.991483e+00,-9.995452e+00,-3.443709e+00,-2.715100e+00,-4.716000e+00
25%,5.000000e+00,3.000000e+00,-5.005660e+00,-3.409850e+00,2.485097e+00,-6.534847e-01,-3.099555e-01,-7.013018e-01,-7.665600e-01,-4.516013e-01,-1.459504e+00
50%,1.000000e+01,4.000000e+00,3.382025e+00,-1.445800e-01,6.828299e+00,4.166000e-03,2.251950e-02,-1.805150e-02,-3.617300e-01,4.777200e-02,-7.263075e-01
75%,1.500000e+01,6.000000e+00,7.964000e+00,3.279270e+00,1.294110e+01,6.783812e-01,4.473310e-01,6.877122e-01,2.501000e-01,6.573125e-01,-4.805925e-02
max,1.900000e+01,8.000000e+00,4.999300e+01,4.998373e+01,4.999230e+01,9.999740e+00,9.994360e+00,9.997920e+00,4.685390e+00,3.362810e+00,3.139322e+00

In [11]:
filepath = Path('activities_cleaned.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
new_df.to_csv(filepath, sep=';')